/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2021, 7:37:52 PM
    Author     : Admin
*/

:root {
    --primary-color: #0d6efd;
    --text-color: #000;
    --white-color: #fff;
}

